<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="application" value="AppCentre"/>
    <add key="permissionTyp" value="Admin"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="AppCentreEntities" connectionString="metadata=res://*/DAL.AppCentreDbBase.csdl|res://*/DAL.AppCentreDbBase.ssdl|res://*/DAL.AppCentreDbBase.msl;provider=System.Data.SqlClient;provider connection string='data source=dsql2008;initial catalog=AppCentre;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient"/>-->
    <add name="AppCentreEntities" connectionString="metadata=res://*/DAL.AppCentreDbBase.csdl|res://*/DAL.AppCentreDbBase.ssdl|res://*/DAL.AppCentreDbBase.msl;provider=System.Data.SqlClient;provider connection string='data source=dsql2008;initial catalog=AppCentre;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_AppRoleService"/>
        <binding name="BasicHttpBinding_AppRoleService1"/>
        <binding name="BasicHttpBinding_AppRoleService2"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://eav-app2008int/AppRoleWS/RoleService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AppRoleService" contract="ACG.EA.AppCentre.RoleService.AppRoleService" name="BasicHttpBinding_AppRoleService"/>
      <endpoint address="http://eav-app2008int/AppRoleWS/RoleService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AppRoleService1" contract="ACG.EA.AppCentre.RoleService.AppRoleService" name="BasicHttpBinding_AppRoleService1"/>
      <endpoint address="http://eav-app2008int/AppRoleWS/RoleService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AppRoleService2" contract="ACG.EA.AppCentre.RoleService.AppRoleService" name="BasicHttpBinding_AppRoleService2"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
